<ion-view title="Chat Nachrichten">
    <ion-content padding="true" class="has-header">

    <div style="text-align:center" ng-if="messages.length == 0">Keine aktuellen Nachrichten.</div>

    <ol class="chat" ng-repeat="message in messages">
      <li ng-if="message.from!=myUsername" class="other">
          <div class="avatar">
            <img ng-src="{{message.photoURL}}" err-src="https://cdn4.iconfinder.com/data/icons/avatars-gray/500/avatar-12-256.png" draggable="false"/>
          </div>

          <div class="msg">
            <p>{{message.from}}:<br/>{{message.message}}</p>
            <time am-time-ago="message.datetime"></time>
          </div>
      </li>

      <li ng-if="message.from==myUsername" class="self">
          <div class="avatar">
            <img ng-src="{{message.photoURL}}" err-src="https://cdn4.iconfinder.com/data/icons/avatars-gray/500/avatar-12-256.png" draggable="false"/>
          </div>
        <div class="msg">
          <p>{{message.from}}:<br/>{{message.message}}</p>
          <time am-time-ago="message.datetime"></time>

        </div>
      </li>
    </ol>


    <form class="list" ng-submit="addMsg()">
      <input class="textarea" type="text" ng-model="msg.add" placeholder="Schreibe eine Nachricht"/>
      <!--  <label class="item item-input">
            <input type="text" placeholder="Schreibe eine Nachricht" ng-model="msg.add">
        </label>-->
    </form>

    </ion-content>
</ion-view>
