<ion-view title="Profil bearbeiten">
    <ion-content padding="true" class="has-header">
       <div class="list card">
        <form class="list">
           <label class="item item-input">
            <input name="profile.oldpassword" placeholder="Passwort" type="password">
          </label>
          <label class="item item-input">
            <input name="profile.newpassword" placeholder="Passwort" type="password">
          </label>
          <label class="item item-input">
            <input  name="profile.newpassword2" placeholder="Passwort wiederholen" type="text">
          </label>
          <button class="button button-balanced  button-block icon-right ion-checkmark" ng-click="changePassword()">Passwort ändern</button>
        </form>
      </div>

      <ion-gallery ion-gallery-items="profile_pics" ion-item-callback="setImage(item)"></ion-gallery>

    </ion-content>
</ion-view>
