<ion-view title="Meine Dienststellen">
  <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-plus-round" ui-sref="dienststelleAnlegen"></button>
  </ion-nav-buttons>
    <ion-content padding="true" class="has-header">

      <div class="list animate-fade-slide-in-right" >
        <a on-hold="deleteItem($index)" collection-repeat="item in dienststellen" class="item item-content">{{item.dienststelle}}</a>
      </div>
      <div style="text-align:center" ng-hide="dienststellen.length">Noch keine Dienststellen.</div>

    </ion-content>
</ion-view>
