<ion-view title="Neue Dienststelle anlegen" cache-view="false">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-body">
                <form class="list">

                    <label class="item item-input">
                        <input type="text" placeholder="Beschreibung" ng-model="dst.name">
                    </label>

                    <button ng-click="add()" class="button button-balanced  button-block">Hinzufügen</button>
                </form>

            </div>
        </div>
    </ion-content>
</ion-view>
