<ion-view title="Todos">
  <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-plus-round" ng-click="addTask()"></button>
  </ion-nav-buttons>
    <ion-content padding="true" class="has-header">

      <form class="list">
          <label class="item item-input">
              <input type="text" placeholder="Bezeichnung" ng-model="newTodo.text">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="Fällig am" ng-model="newTodo.date">
          </label>
          <div class="spacer" style="width: 279px; height: 28px;"></div>
          <button ng-click="addTodo()" class="button button-balanced  button-block">Hinzufügen</button>
      </form>

      <ion-list show-delete="false" can-swipe="true">
          <ion-item ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}" class="item-remove-animate" collection-repeat="item in todos" item="item">
              {{item.todo}}<br/>
              {{item.todoDate}}
              <ion-option-button ng-click="done(item)" class="button-light icon ion-email"></ion-option-button>
              <ion-option-button ng-click="deleteTodo(item)" class="button-assertive icon ion-trash-a"></ion-option-button>
          </ion-item>
      </ion-list>
    </ion-content>
</ion-view>
