<ion-view view-title="Kundenprofile" cache-view="false">
  <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-plus-round" ui-sref="neuePersonBewerten"></button>
  </ion-nav-buttons>

  <ion-content>

    <!-- anim geht nicht
    <div class="list animate-fade-slide-in-right">
      <ion-list class="list animate-fade-slide-in-right">
      <ion-item href="#/app/detailed/{{item.personName}}" class="item item-content" collection-repeat="item in personen">{{item.personName}}</ion-checkbox>
        <ion-option-button class="button button-clear button-assertive" ng-click="deleteItem($index)">
          <i  class="icon ion-trash-a"></i>
        </ion-option-button>
      </ion-list>
    </div>-->
    <!--<ion-list show-delete="shouldShowDelete" class="list animate-fade-slide-in-right">
        <ion-item href="#/app/detailed/{{item.personName}}" collection-repeat="item in personen">{{item.personName}}</ion-checkbox>
          <ion-option-button class="button button-clear button-assertive" ng-click="deleteItem($index)">
            <i  class="icon ion-trash-a"></i>
          </ion-option-button>
    </ion-list>-->


          <a href="#/menuContent/page_detailed_person/{{item.personName}}" on-hold="deleteItem($index)" collection-repeat="item in customers" class="item item-content">{{item.personName}}</a>
      

      <!--

      <ion-list show-delete="false" can-swipe="true">
          <ion-item ui-sref="#/menuContent/page_detailed_person/{{item.personName}}" class="item-remove-animate" collection-repeat="item in customers" item="item">
            {{item.personName}}
            <a href="#/menuContent/page_detailed_person/{{item.personName}}" on-hold="deleteItem($index)" ng-if="item.personName != 'ICH'">{{item.personName}}</a>
            <ion-option-button ng-click="deletePerson(item)" class="button-assertive icon ion-trash-a" menu-close=""></ion-option-button>
          </ion-item>
      </ion-list>-->


    <div style="text-align:center" ng-hide="customers.length ">Noch keine Bewertungen.</div>

  </ion-content>
</ion-view>
